/* Skills section - Section 4 */

.section-4 {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  background: $clr-primary-10;

  h1 {
    padding-top: 4rem;
    text-align: center;
  }

  .section-4-item {
    background: $clr-white;
    padding: 6rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    transition: $transition;
    box-shadow: $light-shadow;
    border: 2px solid rgb(157, 23, 198);

    &:hover {
      box-shadow: $dark-shadow;
    }

    .section-4-icon {
      color: $clr-primary-5;
      font-size: 2rem;
      position: absolute;
      top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    p {
      line-height: 1.5;
      max-width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Media queries
@media screen and (min-width: 768px) {
  .section-4-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 3rem);
    flex-direction: column;
  }
}
