/* Projects section - Section 5 */

.section-5 {
    img.grayscale:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
    }

    .swiper-container-main {
        max-width: 1180px;
        padding-left: 4rem;
        padding-right: 4rem;
        width: 100%;
    }

    .swiper-container-secondary {
        width: 100%;
        height: 350px;
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-image: none;
        background-repeat: no-repeat;
        background-color: theme("colors.main-500");
        background-size: 100% auto;
        background-position: center;
        padding: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper-button-next {
        right: -4rem;
    }

    .swiper-button-prev {
        left: -4rem;
    }
    .swiper-button-prev::before,
    .swiper-button-next::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #fff;
    }

    .swiper-button-prev::before {
        content: "\f060";
    }

    .swiper-button-next::before {
        content: "\f061";
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        background-color: theme("colors.main-700");
    }

    .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
    }

    .swiper-slide {
        border-radius: 1.5rem;
        text-align: center;
        /* Center slide text vertically */
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination {
        bottom: 10px;
    }

    .swiper-pagination-bullet {
        background-color: theme("colors.main-500");
    }

    //youtube tuto
    .slide-container {
        max-width: 1120px;
        width: 100%;
        background-color: gray;
        padding: 40px 0;
    }
    .slide-content {
        margin: 0 40px;
    }
    .card-image {
        position: relative;
        height: 150px;
        width: 150px;
        background: red;
        padding: 3px;
    }

    .card {
        width: 320px;
        border-radius: 25px;
        background-color: pink;
    }

    .image-content,
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 10px 14px;
    }

    .image-content {
        row-gap: 5px;
        position: relative;
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        background: red;
        border-radius: 25px 25px 0 25px;
    }

    .overlay::before,
    .overlay::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: red;
    }

    .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: pink;
    }
    .button {
        margin: 14px;
    }

    .card-image .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid red;
    }

    .name {
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }

    .description {
        font-size: 14px;
        color: #707070;
        text-align: center;
    }
    //     max-width: 100vw;
    //     margin-left: auto;
    //     margin-right: auto;
    //     background: $clr-primary-10;

    //     .project-1-container {
    //         background: rgb(242, 242, 242);
    //         text-align: center;
    //         max-width: 1152px;
    //         padding: 3rem 2rem;
    //         margin-left: auto;
    //         margin-right: auto;
    //         padding-bottom: 1rem;

    //         .project-text {
    //             h3 {
    //                 margin-bottom: 2rem;
    //             }

    //             p {
    //                 // padding-left: 3rem;
    //                 // padding-right: 3rem;
    //                 padding-bottom: 1rem;
    //                 line-height: 2;
    //                 text-align: justify;
    //             }

    //             .btn-section-5 {
    //                 margin-bottom: 2rem;

    //                 &:hover {
    //                     transform: scale(1.1);
    //                 }
    //             }
    //         }

    //         a {
    //             display: inline-block;
    //             position: relative;
    //             margin-bottom: 2rem;
    //             transition: $transition;

    //             &:hover img {
    //                 opacity: 0.5;
    //                 transform: scale(1.03);
    //             }

    //             &:hover .project-icon {
    //                 opacity: 1;
    //             }

    //             img {
    //                 width: 200px;
    //                 object-fit: contain;
    //                 transition: $transition;
    //                 transition: $transition;
    //             }

    //             .project-icon {
    //                 position: absolute;
    //                 top: 50%;
    //                 left: 50%;
    //                 transform: translate(-50%, -50%);
    //                 font-size: 2rem;
    //                 color: $clr-primary-5;
    //                 opacity: 0;
    //                 transition: $transition;
    //             }
    //         }
    //     }

    //     .projects-image-container {
    //     }
    // }

    // @media screen and (min-width: 500px) {
    //     .projects-image-container {
    //         display: flex;
    //         gap: 1rem;
    //         justify-content: center;
    //     }
    // }

    // @media screen and (min-width: 900px) {
    //     .section-5 .project-1-container {
    //         // padding: 4rem;
    //         // padding-bottom: 3rem;
    //         // gap: 3rem;
    //     }

    //     .project-text h3 {
    //         padding-left: 0;
    //     }

    //     .project-1-flex-container {
    //         display: flex;
    //         justify-content: space-between;
    //         gap: 3rem;
    //     }
}
