#chevron-up-icon {
    color: theme("colors.main-500");
    font-size: 2.5rem;
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    @keyframes pulse {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
            transform: translateY(10px);
        }
        100% {
            opacity: 0.3;
        }
    }
}
