.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $clr-white;
  z-index: 2;
  /* border: 2px solid red; */
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  /* border: 2px solid red; */
}

.nav-logo {
  height: 30px;
  cursor: pointer;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: $clr-primary-5;
  transition: $transition;

  cursor: pointer;
  position: relative;

  width: 21px;
  height: 24px;
}

.nav-toggle i {
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav-toggle i.menu-open {
  opacity: 0;
  left: 1px;
}

.nav-toggle.open i.menu-open {
  opacity: 1;
}

.nav-toggle.open i.menu-closed {
  opacity: 0;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-weight: 700;
  transition: $transition;
  color: $clr-grey-1;
  cursor: pointer;
  font-size: 1rem;
}

.nav-link:hover {
  color: $clr-primary-1;
  background: $clr-primary-10;
  padding-left: 3rem;
}

/* 280px */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: $transition;
}

.show-links {
  height: 280px;
}

@media screen and (min-width: 992px) {
  .navbar {
    /* padding: 1rem 2rem; */
    padding: 1rem 0;
  }

  /* hide toggle button */
  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1152px;
  }

  .nav-links {
    height: auto;
    display: flex;
  }

  .nav-header {
    padding: 0 1rem;
  }

  .nav-link {
    padding: 0 0;
    margin-right: 2rem;
    margin-left: 1rem;
    letter-spacing: normal;
    font-weight: 700;
  }

  .nav-link:hover {
    scale: 1.25;
    padding: 0;
    background: transparent;
  }
}
