@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap");
@import "swiper";
@import "animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: theme("fontFamily.headers");
    color: theme("colors.main-900");
    letter-spacing: 0.25rem;
    text-transform: capitalize;
}

body {
    font-family: theme("fontFamily.body");
    background: theme("colors.white");
    color: theme("colors.black");
    line-height: 1.25;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Gallery Project Medias CSS */
.product-small-img img{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}
.product-small-img img:first-child {
    margin: 0 0;
}

.product-small-img img:hover{
    opacity: 1;
}

.product{
    display: flex; 
    justify-content: center;
    gap: 2rem;
}

.img-container img{
    width: 350px;
    object-fit: contain;
}